body {
    background-color: #e9e9e9;
    margin: 0 auto;
}

header {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

header a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
header a:hover {
    background: #ddd;
    color: #000;
}

header a.active {
    background-color: #2196F3;
    color: #fff;
}